@charset "UTF-8";


/* sprites & icon ========================================== */
.sp{
   display: inline-block;
   background: url(../img/sprite_pc.png) no-repeat;
}
.sp-symbol,.sp-gradienttop,.sp-gradientbottom{
   background-size: 1312px 480px;
}
.sp-symbol{width: 408px; height: 464px; background-position: 0 0;}
.sp-more{width: 70px; height: 44px; background-position: -530px 0;}
.sp-gradienttop{width: 720px; height: 24px; background-position: -496px 0;}
.sp-gradientbottom{width: 720px; height: 24px; background-position: -496px -40px;}
.sp-titleline{
   background-size: 984px 360px;
   width: 600px; height: 30px; background-position: -372px -90px;
}
.sp-slide-prev{width: 70px; height: 100px; background-position: -620px -220px;}
.sp-slide-next{width: 70px; height: 100px; background-position: -710px -220px;}
.sp-gps{width: 22px; height: 30px; background-position: -800px -220px;}
.sp-phone{width: 18px; height: 30px; background-position: -840px -220px;}
.sp-email{width: 30px; height: 24px; background-position: -880px -220px;}
.sp-kakaotalk{width: 32px; height: 28px; background-position: -930px -220px;}



/* main ========================================== */

.main-symbol{
   left: 60px;
   top: 60px;
   width: 408px;
   height: 464px;
   opacity: 1;
}

.mt1{
   right: 100px;
   top: 550px;
}
.mt2{
   right: 50px;
   top: 600px;
}
.mt3{
   bottom: 220px;
   font-size: 26px;
}

.morebutton .scrolldown,.morebutton .more{
   opacity: 1;
}
.morebutton{
   bottom: 90px;
}



/* about ========================================== */

.about-gradienttop,.about-gradientbottom{
   height: 24px;
}
.about-gradienttop{
   left: -720px;
}
.about-gradientbottom{
   right: -720px;
}

.about-wrap{
   padding: 100px 0;
}
.about-wrap h2{
   font-size: 32px;
}
.about-wrap p{
   font-size: 16px;
}

.about-wrap .mystory{
   padding-bottom: 28px;
}
.about-wrap .mystory h2{
   margin-bottom: 24px;
}
.about-wrap .mystory p{
   line-height: 18px;
}
.mystory-first,.mystory-second{
   margin-bottom: 16px;
}

.about-wrap .skills{
   padding-top: 28px;
}
.about-wrap .skills h2{
   margin-bottom: 24px;
}
.about-wrap .skills ul li{
   margin: 0 auto 8px;
   width: 600px;
   height: 30px;
}
.about-wrap .skills ul li div{
   height: 30px;
}
.about-wrap .skills ul li div p{
   line-height: 28px;
}
.about-wrap .skills ul li div:first-child{
   width: 150px;
}
.about-wrap .skills ul li div:nth-child(2){
   width: 450px;
}



/* works ========================================== */

#works{
   height: 1080px;
}

.main-slide{
   height: 1040px;
}
.main-slide .t{display: block;}
.main-slide .p,.main-slide .m{display: none;}
.main-slide .swiper-slide{
   height: 1040px;
}

.swiper-slide .titleline{
   top: 130px;
}
.swiper-slide h2{
   top: 110px;
   width: 620px;
   font-size: 38px;
}
.swiper-slide h2.notyet{
   font-size: 48px;
   text-align: center;
}

.main-slide .mockup{
   top: 40%;
   transform: translate(-50%, -40%);
}

.link-button-wrap{
   bottom: 320px;
   width: 400px;
}

.swiper-slide p{
   bottom: 210px;
   width: 600px;
   font-size: 24px;
}

.main-slide .slide-button.prev{left: 3%;}
.main-slide .slide-button.next{right: 3%;}
.main-slide .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
   margin: 0 15px;
}
.main-slide .swiper-pagination-bullet{
   width: 30px; height: 30px;
}
.main-slide .swiper-pagination-bullet-active{
   width: 60px;
   border-radius: 15px;
}
.main-slide .swiper-container-horizontal > .swiper-pagination-bullets,
.main-slide .swiper-pagination-custom,
.main-slide .swiper-pagination-fraction{
   bottom: 100px;
}



/* TOP button ========================================== */

#topbutton{
   right: 70px;
   bottom: 40px;
}



/* animations ========================================== */

/* #main */

@keyframes fadeIn-mB{
   0%{transform: translateX(110px); opacity: 0;}
   100%{transform: translateX(0); opacity: 1;}
}

@keyframes fadeIn-mC{
   0%{transform: translate(-50%, 80px); opacity: 0;}
   100%{transform: translate(-50%, 0); opacity: 1;}
}

.main-symbol i{
   animation: shine 1s linear infinite;
}


/* #about */

@keyframes fadeIn-aB{
   0%{transform: translateX(90px); opacity: 0;}
   100%{transform: translate(0); opacity: 1;}
}

@keyframes fadeIn-aC{
   0%{transform: translateX(-90px); opacity: 0;}
   100%{transform: translate(0); opacity: 1;}
}

@keyframes fadeIn-aD{
   0%{transform: translateY(50px); opacity: 0;}
   100%{transform: translate(0); opacity: 1;}
}


/* #works */

@keyframes fadeIn-wC{
   0%{transform: translate(-50%, -30px); opacity: 0;}
   100%{transform: translate(-50%, 0); opacity: 1;}
}

@keyframes fadeIn-wD{
   0%{transform: translate(-50%, 30px); opacity: 0;}
   100%{transform: translate(-50%, 0); opacity: 1;}
}


/* footer */

@keyframes fadeIn-fA{
   0%{transform: translateY(-20px); opacity: 0;}
   100%{transform: translate(0); opacity: 1;}
}

@keyframes fadeIn-fB{
   0%{transform: translateY(20px); opacity: 0;}
   100%{transform: translate(0); opacity: 1;}
}